<div  class="mu-portfolio-header">
<h2 class="mu-heading-title">About Milan</h2>
<span class="mu-header-dot"></span>

<P>
        Milan (/mɪˈlæn/, also US: /mɪˈlɑːn/, Milanese: [miˈlãː];Italian: Milano [miˈlaːno] (About this soundlisten)) is a city in northern Italy, capital of Lombardy, and the second-most populous city in Italy after Rome, with the city proper having a population of 1,395,274 
        while its metropolitan city has a population of 3,245,308.Its continuously built-up urban area (that stretches beyond the boundaries of the Metropolitan City of Milan) has a population estimated to be about 5,270,000 over 1,891 square kilometres (730 square miles).
         The wider Milan metropolitan area, known as Greater Milan, is a polycentric metropolitan region that extends over central Lombardy and eastern Piedmont and which counts an estimated total population of 7.5 million, making it by far the largest metropolitan area in Italy and the 54th largest in the world. 
         Milan served as capital of the Western Roman Empire from 286 to 402 and the Duchy of Milan during the medieval period and early modern age.
        
</P>
<div class="mu-item-thumbonail">

        <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Milan.Proper.Wikipedia.Image.png/250px-Milan.Proper.Wikipedia.Image.png" >
        <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Italy_Lombardy_location_map.svg/250px-Italy_Lombardy_location_map.svg.png" >
        <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Solidus-Arcadius-RIC_1205.jpg/250px-Solidus-Arcadius-RIC_1205.jpg" >
        <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Skyline_Milano_-_05.JPG/220px-Skyline_Milano_-_05.JPG" >
        
</div>


</div>