<div ng-controller="poiController" data-ng-init="load()">
    <div class="mu-portfolio-header">
        <h2 class="mu-heading-title">Points Of Interests</h2>
        <span class="mu-header-dot"></span>
    </div>
    <div ng-hide="showPoi">
        <div ng-show="$root.connected">
            <h5> Add to favorite by clicking the "+" button</h5>
            <h5> Delete from favorite by clicking the "-" button</h5>
        </div>


        <p>Search Point of Interest</p>
        <p><input type="text" ng-model="search.Name"></p>
        Filter By Categories:(if nothing is chosen, no filter)<br><br>
        <select multiple name="Points" id="Points" ng-model="selectedItems"
                ng-options="item for item in pointOfInterests">
        </select>
        <button ng-click="sortButtonClick()">Click to sort by rank</button>

        <table width="50%">
        <ol class="center">

            <li ng-repeat-start="poi in poislist| filter:filterArray|filter:search|orderBy:myValueFunction"
                ng-click="showdetails(poi)">{{poi.Name}}
            </li>
            <div>
                <button class="btn" ng-show="$root.connected"
                        ng-click="addOrDelete(poi)">{{isClicked[poislist.indexOf(poi)]}}</button>
            </div>
            <img height="150px" ng-src="{{poi.picture}}" ng-click="showdetails(poi)">
            <li>
                    <button class="btn2" data-target="#formModal" data-toggle="modal" ng-click="updateSelected(poi)">
                            Write Review to {{poi.Name}} </button>
            </li>
            <div ng-repeat-end></div>
        </ol>
        </table>
        <p ng-show="(poislist | filter:search).length == 0">No results :(</p>
    </div>


    <div ng-show="showPoi">
        <br>
        <h1>{{currpoiname}}</h1> <br>
        <p>Number of views:{{currNumViews}}</p>
        <P>Details: </P>
        <p>{{currpoidetails}} </p>
        <p>Rating: {{currRating}}</p>
        <p>{{currcrit1}}</p>
        <p>{{currcrit2}}</p>

        <button ng-show="$root.connected" ng-click="addOrDeleteDiv()">{{plusorminus}}</button>
        <br>

        <button ng-click="retPrev()">return to main page</button>
        <br>
    </div>

    <div class="modal fade" id="formModal" tabindex="-1" ng-controller="favoriteController">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Write a Review to{{selectedReviewPoi.Name}}!</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="InputReview" placeholder="Review..."></label>Write a Review</label><br>
                                <textarea ng-model="review" class="form-controll" type="text" id="inputReview"  cols="40" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="InputRank">Rank</label>
                                <select ng-model="rank" id="InputRank">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
        
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn2" ng-click="post()">Post Review</button>
                        <button class="btn2" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
</div>


<style>
    .center{
        text-align: center;
        list-style-position: inside;
    }
    .container .btn {
        position: relative;
        top: 50px;
        left: 7%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgb(51, 153, 153);
        color: rgb(255, 255, 255);
        font-size: 20px;
        border: none;
        cursor: pointer;
        text-align: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 0 auto;
        padding: 0;
        vertical-align: middle;
    }

    .container .btn:hover {
        background-color: #ffffff;
        color: rgb(51, 153, 153);

    }
</style>
